<a href="https://colab.research.google.com/github/lovishdany/AI-ML__NCU/blob/main/Practical_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import numpy as np
import pandas as pd

data = pd.read_csv('/content/Data.csv')
df = pd.DataFrame(data)
df1 = df.copy()
df2 = df.copy()
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [16]:
print(df.isna())

   Country    Age  Salary  Purchased
0    False  False   False      False
1    False  False   False      False
2    False  False   False      False
3    False  False   False      False
4    False  False    True      False
5    False  False   False      False
6    False   True   False      False
7    False  False   False      False
8    False  False   False      False
9    False  False   False      False

In [17]:
print("Total no. of Nan values : ",df.isnull().sum().sum())

Total no. of Nan values :  2

In [18]:
col_list = list(df.columns)

null_cols = []
for i in col_list:
  if df[i].isnull().values.any() == True:
    null_cols.append(i)
null_cols

['Age', 'Salary']

In [19]:
from sklearn.impute import SimpleImputer

imp = SimpleImputer(strategy="mean")
for col in null_cols:
  df[col] = imp.fit_transform(df[col].values.reshape(-1,1))
df

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

In [20]:
df['Age'] = df['Age'].astype(int)
df['Salary'] = df['Salary'].round(decimals = 2)
df

   Country  Age    Salary Purchased
0   France   44  72000.00        No
1    Spain   27  48000.00       Yes
2  Germany   30  54000.00        No
3    Spain   38  61000.00        No
4  Germany   40  63777.78       Yes
5   France   35  58000.00       Yes
6    Spain   38  52000.00        No
7   France   48  79000.00       Yes
8  Germany   50  83000.00        No
9   France   37  67000.00       Yes

In [21]:
imp = SimpleImputer(strategy="most_frequent")
for col in null_cols:
  df1[col] = imp.fit_transform(df1[col].values.reshape(-1,1))
df1

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0  48000.0       Yes
5   France  35.0  58000.0       Yes
6    Spain  27.0  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [22]:
imp = SimpleImputer(strategy="median")
for col in null_cols:
  df2[col] = imp.fit_transform(df2[col].values.reshape(-1,1))
df2

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0  61000.0       Yes
5   France  35.0  58000.0       Yes
6    Spain  38.0  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes